html,
body {
  margin: 0;
	font-family: 'Hanalei Fill', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* display: flex;
	justify-content: center; */
	/* padding: 10px; */
	min-width: 100%;
	min-height: 100%;
	background:  #1c1e21;
	/* min-height: 90vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
	width:100ch !important;
  }
  
